<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="main w-full min-h-screen bg-zinc-100">
        <a href="/" class="text-blue-500 inline-block mb-10">go back to home</a>
        <form action="/edit" method="post">
            <input class="block px-5 py-2 bg-zinc-400 text-zinc-600" type="text" placeholder="previous name" name="previous" 
                value="<%=filename%>" />
            <input class="block px-5 py-2 bg-zinc-400 mt-2" type="text" placeholder="New name" name="new" />
            <input type="submit" value="Update Name" class="text-blue-500 mt-2 bg-yellow-600 rounded-md px-2 py-1" />
        </form>
    </div>
</body>

</html>