<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>This our Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At placeat iure ut quibusdam reiciendis labore nulla
        animi esse sunt! Doloremque veniam nemo ipsa, natus ab laudantium cumque quas nam voluptas!
        Repudiandae, adipisci quisquam! Fugit sint molestiae nostrum temporibus quaerat, nobis quod laboriosam, voluptas
        quasi sequi incidunt! Officiis id quas omnis esse sed totam magni aliquam necessitatibus, laborum vitae aut in?
        Autem ullam officiis quas sit! Esse ex libero, ratione facilis beatae porro accusamus dicta veritatis rem eum
        voluptatum quis obcaecati corporis, aperiam voluptas earum minus, quae temporibus soluta itaque maiores.
        Culpa earum dolorum debitis? Soluta nostrum animi, eaque accusamus numquam ratione non eligendi optio dolorum
        beatae placeat dignissimos consectetur esse consequatur praesentium veniam nisi voluptatem tempore est natus
        exercitationem fugit.
        Commodi quo voluptatibus optio vero quis beatae sit soluta laboriosam cum. Consequuntur laudantium, similique
        maiores magni rerum nemo totam nostrum odio necessitatibus accusamus reprehenderit, expedita est eveniet optio
        consectetur sint.</p>
    <p><b>Authur:</b>
        <%=name%> from Nepal
    </p>
    <button>click me!</button>
    <%- include('includes/footer.ejs')%>

</body>

</html>