<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Post</title>
  </head>

  <body>
    <form action="/posts" method="post">
      <input type="text" placeholder="Enter you name" name="username" /><br />
      <textarea name="content" id="" placeholder="Text"></textarea>><br />
      <button>Submit</button>
    </form>
    <a
      href="http://localhost:8080/posts"
      class="bg-blue-500 text-white px-4 py-2 rounded mt-4 no-underline"
      >New Post</a
    >
  </body>
</html>
