<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
</head>
<style>
  div {
    display: flex;
    gap: 20px;
  }
</style>

<body>
  <h2>Total number of user: <%=data%>
  </h2>
  <div>
    <form action="/user" method="get">
      <button>Users</button>
    </form>
    <form action="/adduser" method="get">
      <button>Add User</button>
    </form>
  </div>
</body>

</html>