<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-gray-400 flex flex-col min-h-screen items-center justify-center">
    <div class="bg-sky-800 rounded-2xl p-9">
        <h1 class="text-3xl tracking-tighter mb-3 text-center ">Edit User</h1>
        <form action="/update/<%=users._id%>" method="post" class="border-2 py-20 px-20 flex flex-col gap-10">
            <input class="px-5 py-3 border-1 border-black rounded-lg text-white outline-none " type="text-200"
                placeholder="Name" name="name" value="<%=users.name%>">
            <input class="px-5 py-3 border-1 border-black rounded-lg text-white outline-none " type="text-200"
                placeholder="Email" name="email" value="<%=users.email%>">
            <input class="px-5 py-3 border-1 border-black rounded-lg text-white outline-none " type="text-200"
                placeholder="URL" name="image" value="<%=users.image%>">
            <input type="submit" value="Update" class="bg-yellow-500 rounded-lg y px-2 py-2">
        </form>
    </div>
</body>

</html>